# git ignore file

# ignore dir plugged
.vim/plugged

# ignore dir autoload
#.vim/autoload

# ignore nvim files
.config/nvim/.*
.config/nvim/L*
.config/nvim/R*
.config/nvim/d*
.config/nvim/lazy*
.config/nvim/lua/*

# ignore newsboat
.newsboat/
